.cards.suggested-videos {
  margin: 20px 0;
}

.cards.suggested-videos h3 {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  font-weight: var(--font-weight-medium);
  color: inherit;
}

.cards.suggested-videos .card-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards.suggested-videos .card.block {
  width: 100%;
  border-top: 1px solid var(--light-grey);
  padding: 25px 0;
}

.cards.suggested-videos .card.block:last-of-type {
  border-bottom: 1px solid var(--light-grey);
}

.cards.suggested-videos .card.block>div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cards.suggested-videos .card img::before {
  display: inline-block;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #888;
  line-height: 1;
  z-index: 2;
  font-size: 2em;
  margin-top: -25px;
  margin-left: -15px;
}

.cards.suggested-videos .card > a {
  display: block;
  pointer-events: none;
  text-align: center;
}

.cards.suggested-videos .card > a picture {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.cards.suggested-videos .card>a img {
  border-radius: 50%;
  position: relative;
  left: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cards.suggested-videos .card .card-body {
  display: flex;
  position: relative;
}

.cards.suggested-videos .card .card-body h3 {
  font-weight: var(--font-weight-extra-bold);
}

.cards.suggested-videos .card .card-body a{
  display: none;
}

/* just show the first a */
.cards.suggested-videos .card .card-body a:first-of-type {
  display: flex;
  text-decoration: none;
}
