.cards.circle-image {
    margin: 20px 0;

    h3 {
        font-family: var(--body-font-family);
        font-size: var(--body-font-size-m);
        font-weight: var(--font-weight-medium);
        color: inherit;
    }

    .card {
        padding: 25px 0;
        display: flex;
        gap: 10px;
    }

    .card>div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .card img::before {
        display: inline-block;
        width: auto;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #888;
        line-height: 1;
        z-index: 2;
        font-size: 2em;
        margin-top: -25px;
        margin-left: -15px;
    }

    .card>.card-thumbnail {
        width: auto;
        height: auto;
    }

    .card>.card-thumbnail a {
        position: relative;
        display: block;
        pointer-events: none;
        text-align: center;
    }

    .card>.card-thumbnail a picture {
        margin: 0 auto;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        overflow: hidden;
    }

    .card>.card-thumbnail a img {
        position: relative;
        left: 0;
        object-fit: cover;
        border-radius: 50%;
    }

    .card>.card-thumbnail.icon a img {
        border-radius: 0;
        height: 40%;
        top: 30%;
        margin: auto;
        object-fit: contain;
        color: white;
        transform: none;
    }

    .card .card-body {
        display: flex;
        position: relative;
    }

    .card .card-body h3 {
        font-weight: var(--font-weight-extra-bold);
    }

    .card .card-body a,
    .card i.arrow {
        display: none;
    }

    /* just show the first a */
    .card .card-body a:first-of-type {
        display: flex;
        text-decoration: none;
    }
}