.cards.suggested-videos {
    margin: 20px 0;
    gap: 0;

    h3 {
      font-family: var(--body-font-family);
      font-size: var(--body-font-size-m);
      font-weight: var(--font-weight-medium);
      color: inherit;
    }

    .card-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        gap: 0;
    }

    .card {
      width: 100%;
      border-bottom: 1px solid var(--light-gray);
      padding: 20px 0;
      display: flex;
      gap: 10px;
    }

    .card:hover img {
      transform: none;
    }

    .card > a {
        display: flex;
        align-items: center;
        gap: 10px;

        img::before {
            display: inline-block;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            color: #888;
            line-height: 1;
            z-index: 2;
            font-size: 2em;
            margin-top: -25px;
            margin-left: -15px;
        }

        .card-thumbnail picture {
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }

        .card-thumbnail img {
            border-radius: 50%;
            position: relative;
            left: 0;
            width: 80px;
            height: 80px;
            object-fit: cover;
            filter: brightness(75%);
        }

        .card-body {
            display: flex;
            position: relative;
        }

        .card-body h3 {
            font-weight: var(--font-weight-extra-bold);
            display: flex;
            text-decoration: none;
        }

        .card-body p,
        i.arrow {
            display: none;
        }

    }
  }
