.research-filter h2{
    font-size: var(--body-font-size-m);
    font-family: var(--body-font-family);
    font-weight: var(--font-weight-medium);
    color: inherit;
    margin-bottom: 10px;
    text-transform: none;
    padding: 0 10px;
}

.research-filter hr{
    margin: 20px 10px;
    border-top: 1px solid var(--light-grey);
}

.research-filter .card img {
    transition: all .65s ease;
}

.research-filter .card:hover img {
    transform: scale(1.05);
    transform-style: preserve-3d;
}