/* stylelint-disable no-descending-specificity */
.columns > div {
  display: flex;
  flex-flow: column;
  gap: 24px;
  padding-bottom: 24px;
  align-items: stretch;
}

.columns.video2 > div > div:nth-child(2) {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.columns.stacked {
  display: grid;
  grid-template-columns: 1fr;

  &.gray {
    background: var(--gray);
    border-radius: 0;
    padding: 15px;
    margin-bottom: 0;
  }

  > div {
    display: contents;
    padding-bottom: 0;

    .bg-price {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}

  .columns.middle > div {
    align-items: center;

    > * {
      margin: 0;
    }
  }

.columns.image-first > div > div {
  order: 1;

  &.columns-img-col {
    order: 0;

    img {
      display: block;
    }
  }
}

.columns.pricing-callout {
  background: var(--white);
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color);
  font-weight: var(--font-weight-medium);
  text-align: center;
  margin-bottom: 40px;
  container: price / inline-size;

  > div {
    gap: 0;
    padding-top: 24px;
  }

  strong {
    color: var(--laz-logo-blue);
    font-size: var(--body-font-size-l);
  }

  .buttons-container {
    flex-flow: row;
  }

  .button.primary, .button.secondary {
    padding: 8px 20px 6px;
  }
}

.columns.logos img {
  max-height: 150px;
}

.columns.tile {
  > div > div {
    border-radius: 15px;
  }

  .icon {
    width: 72px;
    height: 72px;
  }

  p{
    width: 100%;
    left: 0;
    bottom: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 700;
  }

  a {
    padding: 20px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
  }
}

@media (width < 767px) {
    .columns.logos {
      > div {
        flex-flow: row wrap;

        > div {
          flex: 0 45%;
        }
      }
    }
  }

.columns.stacked > div > div:nth-child(1) {
    order: 1;
  }

.columns.stacked > div > div:nth-child(2) {
  order: 2;
}

.columns.stacked > div > div:nth-child(3) {
  order: 3;
}

.columns img {
  max-width: 100%;
}

.columns > div > div {
  container-type: inline-size;
  width: 100%;
  order: 1;
  padding: 5px;
  flex: 1 1 100%;
}

.columns.wrap > div {
  flex-wrap: wrap;
}

.columns.top > div, .columns.top .buttons-container {
    align-items: flex-start;
  justify-content: flex-start;
}

.columns.lines > div {
    border-bottom: 1px solid var(--gray);

  .embed {
    &.youtube, &.vimeo {
      min-height: 314px;
    }
  }
}

.columns.gray div.col-has-content, .columns.bg-gray {
    background: var(--gray);
    border-radius: 20px;
    padding: 15px;
  margin-bottom: 20px;
}

.columns.navy div.col-has-content {
    background: var(--product-navy-blue);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
  color: var(--white)
}

.columns.white {
  > div > div.col-has-content {
    background: var(--white);
    border-radius: 20px;
  }
}


.columns.translucent {
  > div > div.col-has-content {
    padding: 40px;
    margin-bottom: 20px;
    background-color: rgb(255 255 255 / 13%);
    border-radius: 30px;
  }
}

@container price (max-width:660px) {
   div:first-child {
     > div {
       flex-flow: column;
     }
  }
}

@media (width >=768px) {
  .columns {
  > div {
    flex-direction: row;
  }

    &.wrap > div > div {
      flex: 1 1 47%;
    }

    &.width-25 > div { /* first column 25% */
      > div:nth-child(1) {
        flex: 1 0 23%;
      }

      > div:not(:nth-child(1)) {
        flex: 1 1 73%;
      }
    }

    &.width-33 > div { /* first column 25% */
      > div:nth-child(1) {
        flex: 1 0 31%;
      }

      > div:not(:nth-child(1)) {
        flex: 1 1 64%;
      }
    }

    &.width-50 > div { /* first column 50% */

      > div:nth-child(1) {
        flex: 1 0 48%;
      }
    }

    &.width-66 > div { /* first column 66% */
      > div:nth-child(1) {
        flex: 1 0 64%;
      }

      > div:not(:nth-child(1)) {
        flex: 1 1 31%;
      }
    }

    &.width-75 > div { /* first column 75% */
      > div:nth-child(1) {
        flex: 1 0 73%;
        }

      > div:not(:nth-child(1)) {
        flex: 1 1 23%;
      }
    }
  }

  .columns.pricing-callout {
    font-size: var(--body-font-size-m);
  }

  .columns.image-first > div > div.columns-img-col {
      order: 1;
    }
}

@media (width>=992px) {
  .footer .columns > div > div {
    flex: 1 1;
  }

  .columns.stacked {
    display: block;

    > div {
      display: flex;
      flex-direction: row;


      > div:nth-child(1), div:nth-child(2), div:nth-child(3) {
        container-type: inline-size;
        width: 100%;
        order: 1;
        flex: 1 1 100%;
      }
    }
  }

  .columns.signs > div:last-child picture:last-child {
    position: relative;
    right: -54%;
    top: -450%;
  }

  .columns.wrap > div > div {
    flex: 1 1;
  }
}
