.columns > div {
  display: flex;
  flex-flow: column;
  gap: 24px;
  padding-bottom: 24px;
  align-items: stretch;
}

.columns img {
  max-width: 100%;
}

.columns > div > div {
  container-type: inline-size;
  width: 100%;
  order: 1;
  padding: 5px;
  flex: 1 1 100%;
}

.columns.wrap > div {
  flex-wrap: wrap;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.top > div, .columns.top .buttons-container {
    align-items: flex-start;
  justify-content: flex-start;
}

.columns.lines > div {
    border-bottom: 1px solid var(--divider-gray);

  .embed {
    &.youtube, &.vimeo {
      min-height: 314px;
    }
  }
}

.columns.gray {
  > div > div.col-has-content {
    background: var(--gray-background);
    border-radius: 20px;
  }
}

@media (width >=768px) {
  .columns > div {
    flex-direction: row;
  }

  .columns.wrap > div > div {
    flex: 1 1 47%;
  }
}

@media (width>=992px) {
  .columns > div > div {
    flex: 1 1;
  }
  
  .columns.wrap > div > div {
    flex: 1 1;
  }
}
