/* stylelint-disable no-descending-specificity */
.columns > div {
  display: flex;
  flex-flow: column;
  gap: 24px;
  padding-bottom: 24px;
  align-items: stretch;
}

.columns.middle > div {
  align-items: center;

  > * {
    margin: 0;
  }
}

.columns img {
  max-width: 100%;
}

.columns > div > div {
  container-type: inline-size;
  width: 100%;
  order: 1;
  padding: 5px;
  flex: 1 1 100%;
}

.columns.wrap > div {
  flex-wrap: wrap;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.top > div, .columns.top .buttons-container {
    align-items: flex-start;
  justify-content: flex-start;
}

.columns.lines > div {
    border-bottom: 1px solid var(--gray);

  .embed {
    &.youtube, &.vimeo {
      min-height: 314px;
    }
  }
}

.columns.gray div.col-has-content, .columns.bg-gray {
    background: var(--gray);
    border-radius: 20px;
    padding: 15px;
}

.columns.white {
  > div > div.col-has-content {
    background: var(--white);
    border-radius: 20px;
  }
}

@media (width >=768px) {
  .columns {
  > div {
    flex-direction: row;
  }

    &.wrap > div > div {
      flex: 1 1 47%;
    }

    &.width-25 > div { /* first column 25% */
      > div:nth-child(1) {
        flex: 1 1 23%;
      }

      > div:not(:nth-child(1)) {
        flex: 1 1 73%;
      }
    }

    &.width-66 > div { /* first column 75% */
      > div:nth-child(1) {
        flex: 1 1 61%;
      }

      > div:not(:nth-child(1)) {
        flex: 1 1 38%;
      }
    }

    &.width-75 > div { /* first column 75% */
      > div:nth-child(1) {
        flex: 1 1 73%;
        }

      > div:not(:nth-child(1)) {
        flex: 1 1 23%;
      }
    }
  }
}

@media (width>=992px) {
  .footer .columns > div > div {
    flex: 1 1;
  }

  .columns.wrap > div > div {
    flex: 1 1;
  }
}
