.accordion-wrapper {
  margin: 20px 0;
}

.accordion details {
  border-bottom: 2px solid #ccc;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 14px;
}

.accordion details p {
  margin-bottom: .8em;
  margin-top: .8em;
  width: 85%;
}

.accordion h4 {
  font-family: var(--heading-font-family);
  font-size: 20px;
  line-height: 1.4286;
  margin-bottom: .8em;
  margin-top: .8em;
  width: 85%;
}

.accordion details summary {
  position: relative;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  font-family: var(--heading-font-family);
  font-size: 20px;
  color: var(--product-navy-blue);
}

.accordion details[open] summary {
  background-color: transparent;
  transition: all .4s ease-in;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '+';
  position: absolute;
  font-size: 25px;
  top: 20%;
  right: 22px;
  transition: transform 0.4s;
}

.accordion.round details summary::after {
  top: 30%;
}

.accordion details[open] summary::after {
  transform: rotate(-180deg);
  content: '-';
}

.accordion details .accordion-item-body {
  opacity: 0;
  padding: 0 20px;
  overflow: hidden;
}

.accordion details[open] {
  border-bottom: none;
}

.accordion details[open] .accordion-item-body {
  border-top: 2px solid #ccc;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

.accordion.round details[open] .accordion-item-body {
  border: 1px solid var(--gray);
  margin-top: 10px;
}

.accordion.round .accordion-item-label{
  padding: 15px 20px;
  border-radius: 6px;
}

.accordion.round details {
  border: 0;
}
