.research-detail main {
    .section-outer {
        margin: unset;

        > .section {
            padding: 0 15px;
        }

        &:last-of-type .default-content-wrapper {
            text-align: center;
        }

        h2 {
            color: inherit;
            font-size: var(--body-font-size-m);
            font-weight: var(--font-weight-medium);
            text-transform: none;
            font-family: var(--body-font-family);
        }
    }

    .breadcrumbs-container {
    padding-right: 15px;
    padding-left: 15px;
    }
}

@media (width >= 768px) {
    .research-detail main .section-outer .section, .breadcrumbs-container {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (width >= 1024px) {
    .research-detail main {
        display: grid;
        grid-template-areas:
        "breadcrumb breadcrumb"
        "content sidebar";
        column-gap: 40px;
        position: relative;
        max-width: unset;

        .section-outer:not(last-of-type) {
            grid-area: auto / content;
            max-width: 610px;
            justify-self: end;
        }

        .section-outer:last-of-type {
            grid-area: sidebar;
            grid-column-start: 2;
            grid-row: 2 / 20;
            margin-top: 50px;
            display: flex;
            justify-self: start;

            .section {
                width: 320px;
            }
        }

        .breadcrumbs-container {
            max-width: 970px;
        }
    }
}

@media (width >= 1200px) {
    .research-detail main {
        .breadcrumbs-container {
            max-width: 1170px;
        }

        .section-outer:not(last-of-type) {
            max-width: 760px;
        }

        .section-outer:last-of-type .section {
            width: 400px;
        }
    }

}
