/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  position: relative;
  z-index: 5;
}

header .nav-wrapper .nav-announcement {
  background-color: var(--orange);
  padding: .5em 0;
  position: relative;
  z-index: 10;
  margin: 0;
  text-align: center;
}

header .nav-wrapper .nav-announcement a {
  color: var(--white);
  background-color: var(--orange);
  font-weight: var(--font-weight-bold);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  text-decoration: none;
  display: block;
}

header nav {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  position: relative;
}

header .nav-brand {
  width: 200px;
  top: 50%;
  height: auto;
}

header .nav-brand * {
  height: 100%;
}

header .nav-sections {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  float: right;
  padding-left: 15px;
  position: relative;
  top: 50%;
}

header .nav-sections ul{
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
  padding: 0;
  margin: 0 -10px;
}

header .nav-sections ul li {
  display: inline-block;
  padding: 0;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  font-family: var(--heading-font-family);
}

/* stylelint-disable-next-line no-descending-specificity */
header .nav-sections ul li a {
  position: relative;
  color: var(--dark-gray);
  font-weight: bold;
  font-size: var(--body-font-size-xs);
  letter-spacing: .25px;
  text-decoration: none;
  transition: all .2s;
  height: 100%;
  float: left;
  padding-right: 18px;
  text-wrap: nowrap;
  word-break: normal;

  &::before {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20.5px 7px;
    border-color: transparent transparent var(--red);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
  }
}

header .nav-sections ul li:not(.button-container) a::after {
  content: url("/icons/solutions-right.svg");
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(90deg) translate(-7px,0) scale(0.45);
}

header .nav-sections ul li a.button {
  padding: 8px 15px 6px;
  font-size: var(--body-font-size-xs);
}

header .nav-hamburger {
  display: none;
}

header .nav-sections ul li .icon img {
  height: 75%;
  width: 75%;
}

@media (width >= 768px) {
  header nav {
    max-width: 750px;
  }
}

@media (width >= 992px) {
  header nav {
    max-width: 970px;
  }
}


@media (width >= 1200px) {
  header nav {
    max-width: 1170px;
  }

  header .nav-sections {
    margin: 0 -25px;
    padding-right: 15px;
  }

  header .nav-brand img{
    max-height: 100%;
    width: 100%;
    height: 45px;
  }

  header .nav-sections ul {
    margin: 0 -25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  header .nav-sections ul li a {
    font-size: var(--body-font-size-s);
  }

  header .nav-sections ul li a.button {
    font-size: var(--body-font-size-s);
  }

  header .nav-sections ul li .icon img {
    height: 100%;
    width: 100%;
  }
}


@media (width >= 1660px) {
  header nav {
    max-width: 1527px;
  }
}

