/* stylelint-disable no-descending-specificity */

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  position: relative;
  z-index: 5;
}

header .nav-wrapper .nav-announcement {
  background-color: var(--orange);
  padding: .5em 0;
  position: relative;
  z-index: 10;
  margin: 0;
  text-align: center;
}

header .nav-wrapper .nav-announcement a {
  color: var(--white);
  background-color: var(--orange);
  font-weight: var(--font-weight-bold);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  text-decoration: none;
  display: block;
}

header nav {
  height: var(--nav-height);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  top: 10px;
  width: 100%;
}

header nav.breadcrumbs {
  width: 100%;
  height: 50px;
  position: relative;
  background-color: var(--red);
  color: white;
  font-size: var(--body-font-size-xxs);
  display: flex;
  flex-wrap: wrap;
  column-gap: 6px;
  justify-content: left;

  a {
    color: white;
    font-weight: 700;
  }
}

header .nav-brand {
  width: 200px;
  top: 50%;
  height: auto;
  padding: 0;
}

header .nav-brand * {
  height: 100%;
}

header .nav-sections {
  display: none;
  align-items: center;
  float: right;
  padding-left: 15px;
  height: 100%;
}

header .nav-sections > .section, header .nav-sections > .section > div, header .nav-sections ul li strong {
  display: block;
  height: 100%;
}

header .nav-sections ul{
  display: flex;
  align-items: center;
  float: right;
  height: 100%;
  padding: 0;
  margin: 0 -10px;
}

header .nav-sections ul li {
  display: inline-block;
  padding: 0;
  height: 100%;
  margin-left: 6px;
  margin-right: 6px;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
}

header .nav-sections ul li .icon, header .nav-sections ul li .button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header .nav-sections ul li a {
  position: relative;
  color: var(--dark-gray);
  font-weight: bold;
  font-size: var(--body-font-size-xs);
  letter-spacing: .25px;
  text-decoration: none;
  transition: all .2s;
  float: left;
  padding-right: 18px;
  text-wrap: nowrap;
  word-break: normal;
  top: 50%;
}

header .nav-sections ul li:not(.button-container) a:not(.button)::after {
  content: url("/icons/solutions-right.svg");
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(90deg) translate(-7px,0) scale(0.45);
}


header .nav-sections ul li a.button {
  padding: 8px 15px 6px;
  font-size: var(--body-font-size-xs);
}


header .nav-sections ul li .icon img {
  height: 75%;
  width: 75%;
}

/* mobile styles */
header .nav-hamburger {
  display: block;
  position: relative;
  width: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 15px;
  float: right;
}

header .nav-hamburger .navicon-line {
  height: 5px;
  margin-bottom: 3px;
  background-color: var(--dark-olive-green);
  border-radius: 1px;
}


/* secondary nav */
header .megamenu-container {
  border-top: 2px solid var(--red);
  width: 100%;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 200;
  position: absolute;
  left: 0;
  top: 132px;
  padding: 50px 0 58px;
  height: auto;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  justify-content: center;
}

header .nav-sections ul li[aria-expanded="true"] .megamenu-container {
  opacity: 1;
  visibility: visible;
}

header .megamenu {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

header .megamenu .section-outer {
  padding: 0 15px;
}

header .megamenu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .megamenu ul li {
  height: 60px;
  position: relative;
  text-transform: none;
  display: flex;
  padding-right: 10px;
  margin-left: 0;
}

header .megamenu ul li .icon, header .megamenu ul li a {
  display: inline-block;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
}

header .megamenu ul li .icon{
  background-color: var(--red);
  min-height: 40px;
  width: 40px;
  float: left;
  border-radius: 50%;
  max-width: 30%;
  position: relative;
  color: var(--white);
}

header .megamenu ul li .icon img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

header .megamenu ul li a {
  font-weight: bold;
  color: var(--dark-gray);
  line-height: 1.3;
  transition: all .2s;
  z-index: 30;
  padding-left: 15px;
  max-width: 70%;
  float: left;
  position: relative;
  display: flex;
  align-items: center;
}

header .megamenu .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .megamenu ul > li:not(.button-container) > a:not(.button)::after {
  content: none;
}

header .megamenu .columns > div {
  align-items: flex-start;
}

header .megamenu h4 {
  color: var(--charcoal-gray);
}

header .nav-sections ul li:not(.button-container) .megamenu h4 > a{
  text-decoration: auto;
}

header .nav-sections ul li:not(.button-container) .megamenu h4 > a::after{
  content: none;
}

header .megamenu .button-container a {
  color: var(--gold);
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: .5px;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-color: currentcolor;
  margin: 30px 0 0 15px;
  display: flex;
}

header .megamenu .button-container a::after {
  content: url("/icons/caret-right-solid.svg");
  position: relative;
  height: 10px;
  width: 10px;
}

/* icon bg colors */
header .megamenu .dark-blue .icon{
  background-color: var(--product-dark-blue);
}

header .megamenu .berry .icon{
  background-color: var(--product-berry);
}

header .megamenu .orange .icon{
  background-color: var(--product-orange);
}

header .megamenu .green .icon{
  background-color: var(--product-green);
}

header .megamenu .purple .icon{
  background-color: var(--product-purple);
}

header .megamenu .red .icon{
  background-color: var(--product-red);
}

header .megamenu li.navy-blue .icon{
  background-color: var(--product-navy-blue);
}

@media (width >= 768px) {
  header nav {
    max-width: 750px;
  }
}

@media (width >= 992px) {
  header .nav-brand {
    width: 220px;
  }

  header nav {
    max-width: 970px;
    top: 0;
  }

  header .nav-hamburger {
    display: none;
  }

  header .nav-sections {
    display: flex;
    margin: 0 -15px;
    padding-right: 15px;
  }

  header .nav-sections ul li {
    font-family: var(--body-font-family);
    text-transform: none;
  }
}


@media (width >= 1200px) {
  header nav {
    max-width: 1170px;
    height: calc(var(--nav-height) + 40px);
  }

  header .nav-sections {
    margin: 0 -25px;
    padding-right: 15px;
  }

  header .nav-brand {
    max-height: 100%;
  }

  header .nav-sections ul {
    margin: 0 -25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  header .nav-sections ul li {
    margin-left: 10px;
    margin-right: 10px;
  }

  header .nav-sections ul li a {
    font-size: var(--body-font-size-s);
  }

  header .nav-sections ul li a.button {
    font-size: var(--body-font-size-s);
  }

  header .nav-sections ul li .icon img {
    height: 100%;
    width: 100%;
  }

  header .megamenu {
    max-width: 1170px;
  }
}


@media (width >= 1660px) {
  header nav {
    max-width: 1527px;
  }
}

