/* stylelint-disable no-descending-specificity */

/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  position: relative;
  z-index: 5;
}

header .nav-wrapper .nav-announcement {
  background-color: var(--orange);
  padding: .5em 0;
  position: relative;
  z-index: 10;
  margin: 0;
  text-align: center;
}

header .nav-wrapper .nav-announcement a {
  color: var(--laz-black);
  background-color: var(--orange);
  font-weight: var(--font-weight-bold);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  text-decoration: none;
  display: block;
}

header nav {
  height: var(--nav-height);
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 991px;
  top: 10px;
  width: 100%;
}

header .nav-brand {
  width: 200px;
  top: 50%;
  height: auto;
  padding: 0;
}

header .nav-brand * {
  height: 30px;
}

header .nav-sections {
  display: none;
  align-items: center;
  float: right;
  padding: 0 15px;
  height: 100%;
}

header .nav-tools {
  display: none;
}

header .nav-sections>.section,
header .nav-sections>.section>div,
header .nav-sections ul.primary-nav-items>li strong,
header .nav-tools ul>li strong {
  display: block;
  height: 100%;
}

header .nav-sections ul.primary-nav-items,
header .nav-tools ul {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0 -10px;
}

header .nav-sections ul.primary-nav-items>li,
header .nav-tools ul>li {
  display: inline-block;
  padding: 0;
  margin-left: 6px;
  margin-right: 6px;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  height: 100%;
}

header .nav-sections ul.primary-nav-items>li>a,
header .nav-tools ul>li>a {
  gap: 5px;
  display: flex;
  position: relative;
  color: var(--dark-gray);
  font-weight: bold;
  font-size: var(--body-font-size-s);
  letter-spacing: .25px;
  text-decoration: none;
  transition: all .2s;
  float: left;
  padding-right: 18px;
  text-wrap: nowrap;
  word-break: normal;
  top: 50%;
  border-bottom: 2px solid transparent;
  height: 25px;

}

header:not(.header-mobile) .nav-sections ul.primary-nav-items>li>a{
  transform: translateY(-50%);
}

header:not(.header-mobile) .nav-sections .nav-item.active > a {
  color: #888;;
}

header .nav-sections ul.primary-nav-items>li:not(.button-container)>a:not(.button)::after {
  content: url("/icons/solutions-right.svg");
  position: absolute;
  padding-left: 5px;
  top: 0;
  right: -5px;
  transform: rotate(90deg) translate(-7px, 0) scale(0.45);
}


header .nav-sections ul.primary-nav-items>li a.button,
header .nav-tools ul>li a.button {
  padding: 8px 15px 6px;
  font-size: var(--body-font-size-xs);
}

header .nav-sections ul.primary-nav-items>li[aria-expanded="true"]>a {
  color: var(--red) !important;
  border-bottom: 2px solid var(--red);
}

header .nav-sections ul.primary-nav-items>li[aria-expanded="true"]:not(.button-container)>a:not(.button)::after {
  content: url("/icons/solutions-right-red.svg");
  transform: rotate(-90deg) translate(7px, 0) scale(0.45);
}

header .nav-tools ul>li .icon-search {
  height: 22px;
  width: 20px;

  img {
    margin-top: 10px;
  }
}

/* mobile styles */
header .nav-hamburger {
  display: block;
  position: relative;
  width: 60px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 15px;
  float: right;
}

header .nav-hamburger .navicon-line {
  height: 5px;
  margin-bottom: 3px;
  background-color: var(--dark-olive-green);
  border-radius: 1px;
}


/* secondary nav */
header .megamenu-container {
  border: 1px solid #E6EEF3;
  width: 100%;
  background-color: var(--white);
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 200;
  position: absolute;
  left: 0;
  top: 130px;
  padding: 50px 0 58px;
  height: auto;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
  display: none;
  align-items: center;
  justify-content: center;
}

header .nav-sections ul.primary-nav-items .megamenu-container.active {
  display: flex;
}

header .megamenu {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
}

header .megamenu>.section-outer {
  width: 100%;
}


/* Tabs Columns */
.header .tabs.columns {
  display: flex;
}

.header .tabs.columns .tabs-list {
  flex-direction: column;
}

.header .tabs.columns .tabs-list>button {
  border: none;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .tabs.columns .tabs-list .icon,
.header .accordion .accordion-item-label .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 58px;
}

.header .tabs.columns .tabs-list p {
  display: flex;
}

.header .tabs.columns .tabs-list button .btn-icon {
  content: url("/icons/icon-caret-right.svg");
  width: 29px;
  height: 29px;
}

.header .tabs.columns .tabs-panel {
  width: 100%;
}

.header .tabs.columns .tabs-panel>div {
  margin: 40px;
}

.header .tabs.columns .tabs-panel>div:first-child {
  margin: 0 40px 40px;
}

.header .tabs.columns .tabs-panel ul.tags-list {
  display: flex;
  margin-bottom: 38px;
  gap: 10px;
  list-style: none;
}

.header .tabs.columns .tabs-panel ul.tags-list li {
  background-color: #EBECF5;
  border-radius: 19px;
  max-height: 20px;
  padding: 2px 15px;
}

.header .tabs.columns .tabs-panel ul.tags-list li p {
  color: var(--laz-logo-blue);
  font-weight: var(--font-weight-bold);
  font-size: 11px;
}

.header .tabs.columns .tabs-panel .icon,
.header .accordion .accordion-item-body .icon {
  height: 48px;
  margin-bottom: 20px;
  max-width: 100%;
  width: auto;
}

.header .tabs.columns .tabs-panel .left-content.has-border {
  border-right: 3px solid var(--berry);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header .tabs.columns .tabs-panel .button-container {
  margin: 0;
}

.header .tabs.columns .tabs-panel .button-container a {
  max-width: 235px;
  margin: 5px 0;
  width: 100%;
  font-size: var(--body-font-size-xs);
}

.header .tabs.columns .tabs-panel .top-content {
  display: flex;
  align-items: baseline;
  margin-bottom: 25px;
  gap: 10px;
  justify-content: flex-start;
}

.header .tabs.columns .tabs-panel .top-content span {
  width: 90px;
  margin: 0 10px 0 16px;
}

.header .tabs.columns .tabs-panel .top-content span:first-child {
  width: 25px;
  margin: 0;
}

.header .tabs.columns .tabs-panel .top-content strong {
  margin: 0;
  font-size: 20px;
  color: #35302C;
}

.header .tabs.columns .tabs-panel>div>p .button.secondary {
  width: 100%;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 18px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  gap: 20px;
  max-width: 260px;
  justify-content: flex-start;
  align-items: center;
  font-weight: var(--font-weight-normal);
}

.header .tabs.columns .tabs-panel>div>p .button.secondary:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
}

.header .tabs.columns .tabs-panel>div>p .button.secondary .icon {
  width: 20px;
  height: 20px;
  margin: 0;
}

/* Search Bar */
.search-bar-large {
  display: none;
}

.search-bar-large.active {
  display: block;
  right: 15%;
  left: unset;
  background-color: unset;
  max-width: 532px;
  bottom: -55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;

  #supernav-search {
    height: 60px;
    display: block;
    text-transform: uppercase;

    input {
      background-color: white;
      border-radius: 4px;
      height: 100%;
      padding: 5px 30px;
      outline: none;
      width: 100%;
      border: none;
    }

    input::placeholder {
      font-weight: var(--font-weight-extra-bold);
      color: var(--dark-gray);
    }

    button {
      background-color: var(--red);
      height: 100%;
      width: 10%;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      right: 0;
      position: absolute;
      font-size: 20px;
      color:white;
      border: none;
      top: 50%;
      transform: translate(0, -50%);
      display: inline-block;

      em {
        font-size: 0;
      }

      ::before { 
        content: url("/icons/search-white.svg");
        width: 20px;
        height: 20px;
        display: inline-block;
        margin: auto;
      }
    }
  }
}

/* Header columns */
.header .megamenu .columns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .columns.block>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .columns-wrapper {
    flex-grow: 1;

    .columns-2-cols {
      max-width: 75%;
    }
  }
}

.header .megamenu .columns-container .columns.block>div>div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  h3>a,
  a>h3 {
    font-size: var(--body-font-size-m);
    color: var(--charcoal-gray);
    font-family: var(--body-font-family);
  }

  ul>li>a {
    font-weight: var(--font-weight-normal);
    color: #48433F;
    text-transform: none;
    display: flex;
    align-items: center;
  }

  ul>li .icon {
    width: 23px;
    height: auto;
    margin-right: 15px;
  }

  strong {
    font-weight: var(--font-weight-bold);
    font-size: var(--body-font-size-m);
    padding: 20px 0 0;
  }

  .icon {
    width: 130px;
    height: auto;
  }
}

.header .megamenu .columns-container .columns.block:not(.columns-1-cols)>div>div:first-child ul {
  border-right: 1px solid #ebecf5;
  max-width: 232px;
}

.header .megamenu>.section-outer>.columns-container:not(.content-cards)>div:last-child.default-content-wrapper {
  width: 25%;
}

.header .megamenu .columns-container.content-cards {
  align-items: stretch;

  .default-content-wrapper p {
    margin: 0;
    height: 100%;
  }

  .default-content-wrapper p *{
    height: 100%;
  }
}

.header .megamenu .columns-container.content-cards .columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  max-height: 100%;
}

.header .megamenu .columns-container.content-cards .columns>div, header.header-mobile .nav-sections > .section > .default-content-wrapper > p:last-child {
  background-color: #314091;
  color: white;
  border-radius: 10px;

  >div>* {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .icon {
    height: 25px !important;
    width: 25px !important;
    filter: brightness(0) invert(1);
  }

  p {
    font-weight: var(--font-weight-extra-bold);
    font-size: var(--body-font-size-m);
  }

  a {
    display: flex;
    text-decoration: underline;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: inherit;
  }

  a::after {
    padding-left: 10px;
    filter: invert(1);
    content: url("/icons/icon-arrow-right.svg");
    height: 20px;
    position: relative;
    display: block;
  }
}

header.header-mobile .nav-sections .default-content-wrapper > p:last-child  {
  width: 100%;

  a::after {
    content: none !important;
  }

  picture {
    text-align: center;
  }
}

/* Mobile Nav */
nav[aria-expanded="true"] {
  .nav-mobile-header .header-top-left {
    a {
      display: none;
    }

    .back-button {
      display: flex;
      margin: 0;
      cursor: pointer;
    }
  }

  .main-menu-section {
    display: block !important;
  }
}

nav[aria-expanded="false"] {
  .nav-mobile-header .header-top-left {
    a {
      display: flex;
    }

    .back-button {
      display: none;
    }
  }
}

.nav-mobile-header {
  display: none;

  .close-button {
    display: block;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    padding-right: 10px;
    transform: translate(0, 10%);
  }

  .top-menu-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .header-top-left {
    display: inline-block;
    position: relative;
    color: var(--dark-gray);
    padding-left: 10px;

    a {
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}

.header-mobile[aria-expanded="true"] {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 100%;
  background-color: white;
  overflow: auto;
}

.header-mobile[aria-expanded="true"] nav {
  display: flex;
  flex-direction: column;
  padding: 0;
  position: absolute;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  background-color: white;

  h2 {
    font-family: var(--body-font-family);
    color: inherit;
  }

  .nav-sections {
    display: block;
    width: 100%;
    position: relative;
    height: auto;

    a {
      font-family: var(--body-font-family);
    }

    > .section > .default-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 25px;

      /* add 25px padding to the top of the second element */
      > :nth-child(2) {
        padding-top: 10%;
      }

      >p, >p a {
        display: flex;
        gap: 10px;
        color: inherit;
      }

      /* make flex direction column for the last p */
      >p:last-child {
        flex-direction: column;
        gap:0;
        border: 2px solid transparent;

        br {
          display: none;
        }

        >a {
          text-decoration: none;
          color: white;
        }

        /* first child bolder */
        >a:first-child {
          font-weight: var(--font-weight-bold);
        }
      }
    }
  }

  .megamenu> :first-child:not(:only-child) {
    border-bottom: 1px solid #EBECF5;
    margin-bottom: 1.5em;
  }

  .megamenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    .section-outer {
      display: flex;
      flex-direction: column;

      .section:not(.content-cards)> :first-child:not(:only-child) {
        border-bottom: 1px solid #EBECF5;
        margin-bottom: 1.5em;
      }

      .section {
        display: flex;
        flex-direction: column;

        .accordion details {
          border: none;

          & p {
            width: 100%;
          }
        }

        .accordion details summary::after {
          content: url("/icons/solutions-right.svg");
          top: 50%;
          transform: translate(0, -50%) scale(0.45) rotate(90deg);
          right: 10px;
        }

        .accordion details[open] summary::after {
          transform: translate(0, -50%) scale(0.45) rotate(-90deg);
        }

        .accordion details[open] .accordion-item-body {
          transition: none;
        }

        .accordion .accordion-item-body {
          .button-container {
            margin: 0;

            &>* {
              width: 100%;
              display: block;

              .button {
                width: 100%;
              }
            }
          }

          .sub-content {
            padding: 20px;
            border-left: 3px solid var(--berry);

            .icon {
              height: 30px;
              padding-right: 10px;
            }

            a {
              display: flex;
              color: inherit;
              text-decoration: underline;
              padding-left: 20%;

              &::before {
                content: url("/icons/icon-arrow-right.svg");
                position: relative;
                display: block;
                height: 20px;
                padding-right: 10px;
              }
            }
          }
        }

      }

      .columns-container:not(.content-cards)>div:last-child.default-content-wrapper {
        width: 100%;
      }
    }

    .columns-container .columns-wrapper {
      width: 100%;

      .columns.block,
      .columns-2-cols {
        max-width: 100% !important;
      }
    }

    .columns-container .columns.block>div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 15px;
      width: 100%;

      >div {
        width: 100%;
        padding: 15px;
      }

      ul {
        border: none !important;
      }
    }
  }


  .nav-sections .megamenu-container {
    display: none;
  }

  .nav-mobile-header {
    position: relative;
    display: block;
    width: 100%;
    background-color: var(--light-gray);

    & .main-menu-section {
      display: none;

      & h2 {
        margin-left: 20px;
        font-weight: var(--font-weight-bold);
      }
    }

    & .back-button {
      position: relative;
      font-weight: var(--font-weight-normal);

      &::before {
        content: url("/icons/chevron-left-solid.svg");
        padding-right: 5px;
        height: 7px;
        width: 12px;
      }
    }
  }

  .nav-brand,
  .nav-hamburger {
    display: none;
  }

  ul.primary-nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      gap: 20px;
      width: 100%;
    }
  }

  .nav-sections ul.primary-nav-items>li:not(.button-container)>a:not(.button) {
    width: 100%;
    border-bottom: 2px solid var(--divider-gray);
    margin: auto 0;
    padding-bottom: 50px;
  }

  .nav-sections ul.primary-nav-items>li:not(.button-container)>a:not(.button)::after {
    transform: translate(0, -75%) scale(0.45);
    right: 10px;
    top: 50%;
  }

  .nav-sections ul.primary-nav-items .megamenu-container.active {
    display: flex;
    padding: 0;
    position: absolute;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 102;
    background-color: white;

    .tabs-list {
      width: 100%;
      display: flex;
    }

    .tabs-panel {
      display: none;
    }
  }

}

@media (width >=991px) {
  header .nav-sections,
  header .nav-tools {
    display: flex;
    position: relative;
  }

  header .nav-brand {
    width: 220px;
  }

  header nav {
    max-width: 970px;
    top: 0;
    padding: 0;
  }

  header .nav-hamburger {
    display: none;
  }

  header .nav-sections {
    display: flex;
    margin: 0 auto;
    padding-right: 15px;

    > .section > .default-content-wrapper > *:not(ul){
      display: none;
    }


  }

  header .nav-sections ul.primary-nav-items>li,
  header .nav-tools ul>li {
    font-family: var(--body-font-family);
    text-transform: none;
  }

  .header .megamenu .content-cards .columns>div {
    padding: 25px 50px 25px 30px;
    gap: 5px;
    min-width: 240px;
    min-height: 180px;
  }

}

@media (width >=1200px) {
  header nav {
    max-width: 1170px;
    padding: 0 15px;
  }

  header .nav-sections {
    margin: 0 -25px;
    padding-right: 15px;
  }

  header .nav-brand {
    max-height: 100%;

    * {
      height: 38px;
    }
  }

  header .nav-sections ul.primary-nav-items,
  header .nav-tools ul {
    margin: 0 -25px;
    padding-left: 15px;
    padding-right: 15px;
  }

  header .nav-sections ul.primary-nav-items>li,
  header .nav-tools ul>li {
    margin-left: 10px;
    margin-right: 10px;
  }

  header .nav-sections ul.primary-nav-items>li a,
  header .nav-tools ul>li a {
    font-size: var(--body-font-size-s);
  }

  header .nav-sections ul.primary-nav-items>li a.button,
  header .nav-tools ul>li a.button {
    font-size: var(--body-font-size-s);
  }

  header .nav-sections ul.primary-nav-items>li .icon img,
  header .nav-tools ul>li .icon img {
    height: 100%;
    width: 100%;
  }

  header .megamenu {
    max-width: 1170px;
  }
}


@media (width >=1660px) {
  header nav {
    max-width: 1527px;
  }

  .search-bar-large {
    right: 20%;
  }
}
