  .section.pdf-viewer-container > .pdf-viewer-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    width: calc(100% - 47px);
  }
  
  .pdf-viewer {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .pdf-viewer.embed-mode-full-window {
    height: calc(100vh / 2.4);
    display: none;
  }
    
  /** Desktop */
  @media screen and (width >= 1200px) {
    .section.pdf-viewer-container > .pdf-viewer-wrapper {
      position: relative;
    }
  
    .pdf-viewer.embed-mode-full-window {
      display: block;
      height: 986px;
    }
  }
  
  /** Desktop - Extra Large */
  @media screen and (width >= 1400px) {
    .section.pdf-viewer-container > .pdf-viewer-wrapper {
      max-width: 1400px;
      width: 100%;
    }
  }