.reviews-filter form select {
    font-size: var(--body-font-size-xs);
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 50px 0 20px;
    margin: 3% 0;
    color: var(--dark-gray);
    background-color: white;
    height: 40px;
    cursor: pointer;
    border: 1px solid var(--dark-gray);
    background-image: url("/icons/down.svg");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    appearance: none;
}

.reviews-cards {
    padding: 0 10px;

    & .card {
        margin-bottom: 20px;
        border-top: 1px solid #eee;
    }
}

.testimonial-statement {
    font-size: 18px;
    line-height: 24px;
    padding: 20px 0 15px;
    color: #555;

    p {
        margin: 0;
    }
}

.testimonial-customer {
    font-size: 16px;
    line-height: 1.4;
}