.subnav-wrapper {
  background: var(--very-light-gray);
  margin: 0;
  padding: 0;
  line-height: 56px;

  .subnav {
    max-width: 1170px;
    margin: 0 auto;


    @media(width <= 1200px) {
      max-width: 990px;
    }

    @media(width <= 1024px) {
      max-width: 750px;
    }
  }

  ul {
    list-style: none;
    margin: 0 0 0 15px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0;
      transition: all 0.2s;

      @media(width <= 991px) {
        display: block;
        width: 100%;
        line-height: 2.5;
      }

      a {
        display: block;
        font-family: Solway, serif;
        font-size: 16px;
        color: #56524e;
        text-transform: uppercase;
        padding: 6px 18px 0;
        transition: all 0.2s;
        border-bottom: 6px solid transparent;
        text-decoration: none !important;

        &:hover, &:focus {
          text-decoration: none;
          border-bottom: 6px solid var(--gold);
          color: #56524e;
        }

        @media(width <= 1199px) {
          font-size: 15px;
          color: #56524e;
          display: block;
          padding: 6px 10px 0;
          text-align: center;
        }
      }

      /* highlight active tabs */
      .key-topics &:nth-child(1) a,
      .correlation-tools &:nth-child(2) a,
      .faqs &:nth-child(3) a {
        border-bottom: 6px solid var(--gold);
      }
    }
  }

  &:has(.berry) {
    background-color: var(--product-berry);

   ul {
     li {
       /* stylelint-disable-next-line */
       a {
          color: var(--white);

          &:hover, &:focus {
            border-bottom: 6px solid var(--white);
            color: var(--white);
          }
        }
      }
    }
  }
}

