.table {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    min-width: 600px;

    thead {
      th {
        padding: 1em;
        text-align: left;
        font-weight: bold;
        background: var(--red);

        p {
          color: #fff;
          margin: 0;
        }
      }
    }

    tbody tr {
      border-top: 1px solid #ccc;
      background: #F2F2F2;
      &:last-child { border-bottom: 1px solid #ccc }
      &:nth-child(even) { background: #E5E6E5 }

      td {
        padding: 1em;
        text-align: left;

        p {
          margin: 0;
          + p { margin-top: 0.25em }
        }
      }
    }
  }

  /* variant styles */
  &.plain {
    table {
      border-collapse: collapse;

      thead th {
        background: transparent;
        p { color: unset }
      }

      tbody tr { background: transparent }
    }
  }
}
