.table {
  overflow-x: auto;
  margin-bottom: 24px;

  table {
    width: 100%;
    min-width: 600px;

    th {
      padding: 1em;
      text-align: left;
      font-weight: bold;
      background-color: var(--theme-table-head-bg);
      color: var(--theme-table-head-txt);

      h1, h2, h3, h4, h5, p {
        margin: 0;

        + p {
          margin-top: 0.25em
        }
      }
    }

    tbody tr {
      border-top: 1px solid #ccc;
      background: #F2F2F2;

      &:last-child {
        border-bottom: 1px solid #ccc
      }

      &:nth-child(even) {
        background: #E5E6E5
      }

      td {
        padding: 1em;
        text-align: left;

        h1, h2, h3, h4, h5, p {
          margin: 0;

          + p {
            margin-top: 0.25em
          }
        }
      }
    }
  }

  /* variant styles */

  &.berry thead th {
        --theme-table-head-bg: var(--product-berry);
    }

  &.dark-blue thead th {
    --theme-table-head-bg: var(--product-dark-blue);
  }

  &.green thead th {
    --theme-table-head-bg: var(--product-green);
  }

  &.navy thead th {
    --theme-table-head-bg: var(--product-navy-blue);
  }

  &.orange thead th {
    --theme-table-head-bg: var(--product-orange);
  }

  &.purple thead th {
    --theme-table-head-bg: var(--product-purple);
  }

  &.red thead th {
    --theme-table-head-bg: var(--product-red);
  }

  &.gold thead th {
    --theme-table-head-bg: var(--rpe-gold);
  }

  &.laz-blue thead th {
    --theme-table-head-bg: var(--laz-blue);
  }

  &.logo-blue thead th {
    --theme-table-head-bg: var(--laz-blue);
  }

  &.center {
    thead th, tbody td {
      text-align: center;
    }
  }

  &.plain {
    table {
      border-collapse: collapse;

      tbody tr, thead th {
        background: transparent;
        color: unset;
      }
    }
  }
}
