.quick-tip ul {
  color: #555;
  list-style-type: disc;
}

.quick-tip p {
  color: #555;
  list-style-type: disc;
}

.quick-tip li {
  margin: 5px 0; /* Space between list items */
  font-size: 1em;
  color: #555;
}

.quick-tip-wrapper {
  border: 2px solid #555; /* Border color and thickness */
  border-radius: 15px; /* Curved corners */
  padding: 20px; /* Space inside the border */
  margin: 20px 0; /* Space around the container */
  box-shadow: 0 2px 5px rgba(0 0 0 / 10%); /* Optional shadow for depth */
}
