/* stylelint-disable no-descending-specificity */
footer {
  background-color: var(--very-light-gray);
}

footer .email-banner {
  padding: 25px 0;

  h3, p strong {
    font-weight: var(--font-weight-medium);
    color: var(--text-color);
    font-size: var(--body-font-size-m);
  }
}

footer .footer > div {
  margin: auto;
}

footer .footer .section-outer {
  display: flex;
  justify-content: center;
}

footer .footer .section-outer .section {
  width: 100%;
}

footer .footer .section:not(.cambium-banner) {
  padding-left:  15px;
  padding-right: 15px;
}

footer .footer .section.cambium-banner {
  margin-top: 80px;
}

footer .footer .section-outer:nth-child(2) .default-content-wrapper p {
  font-size: var(--body-font-size-xxs);
}

footer .email-banner a {
  color: var(--charcoal-gray);
  text-decoration: underline;
}

footer .footer p {
  margin: 0;
    font-size: var(--body-font-size-xs);
}

footer .columns-img-col {
  flex-grow: 0;
  width: 25%;
}

footer .columns .icon-laz-logo-grayscale {
  width: 151px;
  height: 26px;
}

footer .footer .columns > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

footer .footer .columns ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .footer .columns ul li {
  padding: 0 5px;
  font-size: var(--body-font-size-l);
  font-weight: var(--font-weight-bold);
  color: var(--dark-gray);
  text-transform: uppercase;
}

footer .footer .columns ul li a {
  color: var(--charcoal-blue);
}

footer .columns-container .default-content-wrapper p {
  padding: 30px 0 10px;
}

footer .footer .columns-container .default-content-wrapper p a{
  color: var(--laz-logo-blue);
  text-decoration: underline;
}

footer .social-links-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
}

footer .social-links .icon {
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

footer .social-links .icon-facebook {
  background-color: #3b5998;
}

footer .social-links .icon-x-twitter {
  background-color: var(--black);
}

footer .social-links .icon-linkedin {
  background-color: #0083be;
}

footer .social-links .icon-instagram {
  background-color: #3759a0;
}

footer .social-links img {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 15%;
  transform: translate(0, 25%);
}

footer .social-links .icon:hover img {
  transform: translate(0, -10px);
  transition: transform .4s cubic-bezier(.87,-.41,.19,1.44) .2s, top .2s;
}

footer .cambium-banner {
  background-color: var(--charcoal-gray);
  color: var(--very-light-gray);
  padding: 1.5em;
}

footer .cambium-banner p {
  text-align: center;
}

footer .cambium-banner p a {
  color: white;
  margin: 0;
  font-size: var(--body-font-size-xs);
  text-align: center;
  width: 100%;
  display: block;
  text-decoration: none;
}

footer .cambium-banner .icon {
  height: auto;
  width: auto;
}

footer .cambium-banner img {
  height: 35px;
  margin-left: 1rem;
  position: relative;
  transform: translateY(40%);
}

@media (width >= 768px) {
  footer .footer .section:not(.cambium-banner) {
    max-width: 750px;
  }

  footer .cambium-banner p a {
    font-size: var(--body-font-size-m);
  }
}

@media (width >= 992px) {
  footer .footer .section:not(.cambium-banner) {
    max-width: 970px;
  }
}

@media (width >= 1200px) {
  footer .footer .section:not(.cambium-banner) {
    max-width: 1170px;
  }

  footer .footer .columns>div {
    flex-direction: row;
  }

  footer .footer .columns > div > div:nth-child(2) {
    flex: 2;
  }

  footer .footer .columns ul {
    text-wrap: nowrap;
  }

  footer .social-links-container {
    justify-content: flex-end;
  }
}

@media (width >= 1660px) {
  footer .footer .section:not(.cambium-banner) {
    max-width: 1527px;
  }
}
