.landing {
    h1 {
        margin-top: 0;
    }

    h2 {
        font-size: var(--heading-font-size-s);
        margin-top: 1.25em;
        line-height: 1.25;
    }

    h3 {
        font-size: var(--body-font-size-m);
        font-family: var(--body-font-family);
        margin-top: 2.25em;
        margin-bottom: 1em;
    }
}

@media (width >= 768px) {
    h1 {
        font-size: var(--heading-font-size-xxl);
    }
}
