/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --berry: #C83192;
  --bright-blue: #00B3E2;
  --bright-green: #C1D52F;
  --bright-yellow: #FDDC3F;
  --dark-blue: #005CB9;
  --gold: #F8BE15;
  --green: #128641;
  --light-pink: #F1CBE4;
  --navy-blue: #0E4482;
  --orange: #F48C21;
  --orange-red: #F05B32;
  --purple: #904799;
  --red: #E21D46;
  --sky-blue: #A2DAE8;
  --turquoise: #3FC1C0;
  --yellow: #FDDC3F;
  --white: #FFF;
  --off-white: #F6F6F6;
  --light-grey: #CBCBCB;
  --black: #000;
  --light-red: #ed7790;
  --b-green: #419e66;
  --laz-black: #35302C;
  --laz-blue: #00B3E2;
  --laz-logo-blue: #31409A;
  --faz-purple: #5D2C8A;
  --faz-pink: #C83493;
  --faz-light-blue: #00C0F3;
  --waz-yellow: #F3A814;
  --waz-red: #E21D46;
  --waz-blue: #005CB9;
  --rpe-dark-blue: #1A1831;
  --rpe-dark-purple: #5E2967;
  --rpe-magenta: #942A6A;
  --rpe-salmon: #C24A48;
  --rpe-gold: #D5A13D;
  --vaz-red-pastel: #FFCECB;
  --vaz-blue-pastel: #ECEFF4;
  --rk-blue: #D9E7F5;
  --rk-blue-dark: #1E7DDD;
  --dark-purple: #613aaf; /* H3 color */
  --dark-gray: #56524e;
  --dark-olive-green: #3E3F30;
  --charcoal-gray: #45423f;
  --charcoal-blue: #263238;
  --royal-blue: #31409A;

    /* product colors */
    --product-navy-blue: #12457e;
    --product-berry: #c83192;
    --product-dark-blue: #005cb9;
    --product-red: #ea1947;
    --product-green: #128641;
    --product-purple: #92479a;
    --product-orange: #f05b32;

  /* fonts */
  --body-font-family: 'Montserrat', sans-serif, montserrat-normal-fallback;
  --heading-font-family: 'Solway', sans-serif, solway-normal-fallback;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;


  /* body sizes */
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-3xl: 60px;
  --heading-font-size-xxl: 44px;
  --heading-font-size-xl: 38px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 28px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 93px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@font-face {
  font-family: montserrat-normal-fallback;
  size-adjust: 111.311%;
  src: local("Arial");
}

@font-face {
  font-family: solway-normal-fallback;
  size-adjust: 113.741%;
  src: local("Arial");
}

*, ::before, ::after {
  box-sizing: border-box;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-style: none;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  line-height: 1.4286;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 700;
  line-height: 1.1;
  scroll-margin: 40px;
  color: var(--laz-logo-blue);
}

h1, h2, h3 {
  font-family: var(--heading-font-family);
}

h4, h5, h6 {
  font-family: var(--body-font-family);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0;
  margin-bottom: 1em;
}

.footnote {
  font-size: var(--body-font-size-xs);
}

.center {
  text-align: center;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main {
  margin-bottom: 50px;
}

main > div > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link, a {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
.button.primary, .button.secondary {
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 5em;
  padding: 8px 40px 6px;
  font-family: var(--body-font-family);
  font-style: normal;
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-extra-bold);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: color 0.4s, background-color 0.4s;
}

/* primary button colors */

.button.primary {
  &.bgcolor-red {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);

    &:hover {
      color: var(--red);
      border-color: var(--red);
    }
  }

  &.bgcolor-berry {
    background-color: var(--berry);
    border-color: var(--berry);
    color: var(--white);

    &:hover {
      color: var(--berry);
      border-color: var(--berry);
    }
  }

  &.bgcolor-gold {
    background-color: var(--gold);
    border-color: var(--gold);

    &:hover {
      color: var(--gold);
      border-color: var(--gold);
    }
  }

  &.bgcolor-light-blue {
    background-color: var(--faz-light-blue);
    border-color: var(--faz-light-blue);

    &:hover {
      color: var(--faz-light-blue);
      border-color: var(--faz-light-blue);
    }
  }

  &.bgcolor-green {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);

    &:hover {
      color: var(--green);
      border-color: var(--green);
    }
  }

  &.textcolor-black {
    color: var(--laz-black);

    &:hover {
      background-color: var(--laz-black);
    }
  }

  &.textcolor-white {
    color: var(--white);

    &:hover {
      background-color: var(--white);
    }
  }

  &:hover {
    background-color: var(--white);
  }
}

/* end primary button colors */


  a.button.secondary,
  button.secondary {
    background-color: unset;
    border: 2px solid;
  }

  /* secondary button colors */
  .button.secondary.textcolor-red {
    color: var(--red);
    border-color: var(--red);
  }

  .button.secondary.textcolor-light-blue {
    color: var(--faz-light-blue);
    border-color: var(--faz-light-blue);
  }

  .button.secondary.textcolor-berry {
    color: var(--berry);
    border-color: var(--berry);
  }

  .button.secondary.textcolor-black {
    color: var(--laz-black);
    border-color: var(--laz-black);
  }

  .button.secondary.textcolor-gold {
    color: var(--gold);
    border-color: var(--gold);
  }

  /* themes - TBD if we use product names for these or not */

  /* default theme works for blogs, research, and default templates */

  h1 {
    margin: 50px 0 1em;
    line-height: 1.2;
  }


  h2 {
    font-size: var(--body-font-size-m);
    margin-bottom: 1em;
    line-height: 1.35;
  }

  h3 {
    font-size: var(--body-font-size-m);
    color: var(--dark-purple);
  }

/* List */
main ul {
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  margin: 10px;
}

nav ul, ol, ul ul, ol ol {
  margin-top: 0;
  margin-bottom: 30px;
}

main li {
  margin-bottom: 10px;
}

nav li {
  cursor: default;
  text-transform: uppercase;
}

/* themes - TBD if we use product names for these or not */
[data-theme="purple"] {
  background-color: var(--purple);
  color: var(--white);

  a {
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6, a:any-link {
    color: var(--white);
  }
}

[data-theme="laz-blue"] {
  background-color: var(--laz-blue);
  color: var(--white);

  h4 {
    color: inherit;
    font-weight: var(--font-weight-medium);
    font-size: var(--body-font-size-m);
    }

  a { /* stylelint-disable-line */
    text-decoration: underline;
  }

    h1, h2, h3, h4, h5, h6, a:any-link  {
      color: var(--white);
    }
  }

[data-theme="red"] {
  .button.primary {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);

    &:hover {
      color: var(--red);
      border-color: var(--red);
    }
  }
}

  [data-theme="yellow"] {
    background-color: var(--yellow);

    a:any-link {
      color: var(--text-color);
      text-decoration: underline;
    }
  }

  /* end themes */

  main img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .icon {
    display: inline-block;
    height: 24px;
    width: 24px;
  }

  .icon img {
    height: 100%;
    width: 100%;
  }

  /* sections */
  main > .section-outer {
    margin: auto;
  }

  main > .section-outer > .section {
    margin: 0 auto;
    padding: 48px 15px;
    max-width: 750px;
  }

  main > .section:first-of-type {
    margin-top: 0;
  }

  @media (width >= 768px) {
    main > .section-outer > .section {
      margin: 0 auto;
    }

    h1 {
      font-size: var(--heading-font-size-m);
    }
  }

  @media (width >= 992px) {
    main > .section-outer > .section {
      max-width: 970px;
    }
  }

  @media (width >= 1200px) {
    main > .section-outer > .section {
      max-width: 1170px;
    }
  }

  /* section metadata */
  main .section.light,
  main .section.highlight {
    background-color: var(--light-color);
    margin: 0;
    padding: 40px 0;
  }
