/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
/* stylelint-disable no-descending-specificity */
:root {
  /* colors */
  --background-color: white;
  --white: #FFF;
  --off-white: #F6F6F6;
  --very-light-gray: #f8f8f8;
  --light-gray: #CBCBCB;
  --gray: #eee;
  --dark-color: #505050;
  --medium-gray: #555;
  --medium-light-gray: #777;
  --navy-blue: #0E4482;
  --dark-blue: #005CB9;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --bright-blue: #00B3E2;
  --bright-green: #C1D52F;
  --b-green: #419e66;
  --green: #128641;
  --bright-yellow: #FDDC3F;
  --gold: #F8BE15;
  --yellow: #F8BE15;
  --light-pink: #F1CBE4;
  --orange: #F48C21;
  --orange-red: #F05B32;
  --purple: #904799;
  --red: #E21D46;
  --sky-blue: #A2DAE8;
  --turquoise: #3FC1C0;
  --light-red: #ed7790;
  --text-color: #131313;
  --black: #000;
  --laz-black: #35302C;
  --laz-blue: #00B3E2;
  --laz-logo-blue: #31409A; /* royal blue */
  --faz-purple: #5D2C8A;
  --faz-pink: #C83493;
  --faz-light-blue: #00C0F3;
  --waz-yellow: #F3A814;
  --waz-red: #E21D46;
  --waz-blue: #005CB9;
  --rpe-dark-blue: #1A1831;
  --rpe-dark-purple: #5E2967;
  --rpe-magenta: #942A6A;
  --rpe-salmon: #C24A48;
  --rpe-gold: #D5A13D;
  --vaz-red-pastel: #FFCECB;
  --vaz-blue-pastel: #ECEFF4;
  --rk-blue: #D9E7F5;
  --rk-blue-dark: #1E7DDD;
  --dark-purple: #613aaf; /* H3 color */
  --dark-gray: #56524e;
  --dark-olive-green: #3E3F30;
  --charcoal-gray: #45423f;
  --charcoal-blue: #263238;
  --maroon: #77001a;

    /* product colors */
    --product-navy-blue: #12457e;
    --product-berry: #c83192;
    --product-dark-blue: #005cb9;
    --product-red: #ea1947;
    --product-green: #128641;
    --product-purple: #92479a;
    --product-orange: #f05b32;

  /* don't override user accessibility settings */
  forced-color-adjust: none;

  /* fonts */
  --body-font-family: 'Montserrat', montserrat-normal-fallback;
  --heading-font-family: 'Solway', solway-normal-fallback;

  /* font weight */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;


  /* body sizes */
  --body-font-size-l: 1.4rem; /* 22px */
  --body-font-size-m: 1.125rem; /* 18px */
  --body-font-size-s: 16px; /* default body font size */
  --body-font-size-xs: .875rem; /* 14px */
  --body-font-size-xxs: .813rem; /* 13px */

  /* heading sizes */
  --heading-font-size-3xl: 3.75rem; /* 60px */
  --heading-font-size-xxl: 3rem; /* 48px */
  --heading-font-size-xl: 2.25rem; /* 36px */
  --heading-font-size-l: 2rem; /* 32px */
  --heading-font-size-m: 1.75rem; /* 28px; UNUSED */
  --heading-font-size-s: 1.5rem; /* 24px */

  /* nav height */
  --nav-height: 90px;
}

/* fallback fonts */
@font-face {
  font-family: montserrat-normal-fallback;
  size-adjust: 113%;
  ascent-override: 93%;
  descent-override: 12%;
  line-gap-override: normal;
  src: local("Arial");
}

@font-face {
  font-family: solway-normal-fallback;
  size-adjust: 113.741%;
  src: local("Arial");
}

*, ::before, ::after {
  box-sizing: border-box;
}

picture {
  line-height: 0;
  display: block;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  border-style: none;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  line-height: 1.4286;
}

body.appear {
  display: block;
}

header {
  height: calc(var(--nav-height) + 40px); /* 40px is the announcement bar */
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: var(--font-weight-extra-bold);
  line-height: 1.1;
  scroll-margin: 40px;
  color: var(--laz-logo-blue);
}

h1, h2 {
  font-family: var(--heading-font-family);
}

h3, h4, h5, h6 {
  font-family: var(--body-font-family);
}

h1 {
  font-size: var(--heading-font-size-xl);
  margin: 50px 0 1em;
  line-height: 1.2;
}

h2 {
  font-size: var(--heading-font-size-s);
  margin-bottom: 1em;
  line-height: 1.35;
}

h3 {
  font-size: var(--body-font-size-m);
  color: var(--dark-purple);
}

.center {
  text-align: center;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0;
  margin-bottom: 1em;
}

.footnote {
  font-size: var(--body-font-size-xs);
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--very-light-gray);
  overflow-x: auto;
  white-space: pre;
}

main {
  margin-bottom: 50px;
}

main > div > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link, a {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
.button.primary, .button.secondary {
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 5em;
  padding: 8px 40px 6px;
  font-family: var(--body-font-family);
  font-style: normal;
  font-size: var(--body-font-size-s);
  font-weight: var(--font-weight-extra-bold);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.4s;
  text-wrap: auto;
}


/* Buttons Container */
.buttons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.buttons-container a.button {
  margin: 8px;
}

.button-container.has-subtext{
  text-align: center;

  .button-subtext {
    display: block;
    font-size: var(--body-font-size-xxs);

    &a{
      color: var(--waz-blue);
    }
  }

  a{
    margin: 0;
  }
}

/* primary button colors */

.button.primary {
  &.bgcolor-red, &.bgcolor-theme {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);

    &:hover {
      color: var(--red);
      border-color: var(--red);
    }
  }

  &.bgcolor-berry {
    background-color: var(--product-berry);
    border-color: var(--product-berry);
    color: var(--white);

    &:hover {
      color: var(--product-berry);
      border-color: var(--product-berry);
    }
  }

  &.bgcolor-gold {
    background-color: var(--gold);
    border-color: var(--gold);

    &:hover {
      color: var(--gold);
      border-color: var(--gold);
    }
  }

  &.bgcolor-light-blue {
    background-color: var(--faz-light-blue);
    border-color: var(--faz-light-blue);

    &:hover {
      color: var(--faz-light-blue);
      border-color: var(--faz-light-blue);
    }
  }

  &.bgcolor-royal-blue {
    background-color: var(--navy-blue);
    border-color: var(--navy-blue);

    &:hover {
      color: var(--navy-blue);
      border-color: var(--navy-blue);
    }
  }

  &.bgcolor-green {
    background-color: var(--green);
    border-color: var(--green);
    color: var(--white);

    &:hover {
      color: var(--green);
      border-color: var(--green);
    }
  }

  &.textcolor-black {
    color: var(--laz-black);

    &:hover {
      background-color: var(--laz-black);
    }
  }

  &.textcolor-white {
    color: var(--white);

    &:hover {
      background-color: var(--white);
    }
  }

  &:hover {
    background-color: var(--white);
  }
}

/* end primary button colors */


  a.button.secondary,
  button.secondary {
    background-color: unset;
    border: 2px solid;
  }

  /* secondary button colors */
  .button.secondary.textcolor-red,
  .button.secondary.textcolor-theme {
    color: var(--red);
    border-color: var(--red);
  }

  .button.secondary.textcolor-light-blue {
    color: var(--faz-light-blue);
    border-color: var(--faz-light-blue);
  }

  .button.secondary.textcolor-berry {
    color: var(--product-berry);
    border-color: var(--product-berry);
  }

  .button.secondary.textcolor-royal-blue {
    color: var(--laz-logo-blue);
    border-color: var(--laz-logo-blue);
  }

  .button.secondary.textcolor-black {
    color: var(--laz-black);
    border-color: var(--laz-black);
  }

  .button.secondary.textcolor-gold {
    color: var(--gold);
    border-color: var(--gold);
  }

  .button.secondary.textcolor-dark-blue {
    color: var(--product-dark-blue);
    border-color: var(--product-dark-blue);
  }

  .button.secondary.textcolor-navy-blue {
    color: var(--product-navy-blue);
    border-color: var(--product-navy-blue);
  }

  .button.secondary.textcolor-orange {
    color: var(--product-orange);
    border-color: var(--product-orange);
  }

  .button.secondary.textcolor-purple {
    color: var(--product-purple);
    border-color: var(--product-purple);
  }

  .button.secondary.textcolor-green {
    color: var(--product-green);
    border-color: var(--product-green);
  }

/* List */
main ul {
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  margin: 10px;
}

nav ul, ol, ul ul, ol ol {
  margin-top: 0;
  margin-bottom: 30px;
}

main li {
  margin-bottom: 10px;
}

nav li {
  cursor: default;
  text-transform: uppercase;
}

.breadcrumbs-outer {
  grid-area: breadcrumb;
  background-color: var(--navy-blue);

  .breadcrumbs-container {
    margin: 0 auto;
      padding-right: 15px;
      padding-left: 15px;
  }

  nav.breadcrumbs {
    color: white;
    font-size: var(--body-font-size-xxs);
    display: flex;
    flex-wrap: wrap;
    column-gap: 6px;
    justify-content: left;
    height: 50px;
    align-items: center;

    a {
      color: white;
      font-weight: var(--font-weight-extra-bold);
    }
  }
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
}

/*********
THEMES
*********/

body.purple {
  .breadcrumbs-outer {
    background-color: var(--purple);
  }

  a {
    color: var(--laz-logo-blue);
  }

  .table table th {
    background-color: var(--purple);
    }

  .news-filter-container, .reviews-filter-container {
    h3, a, p>strong, strong>p {
      color: var(--purple);
      margin: 0;
    }
  }

  .accordion.round .accordion-item-label {
    border: 2px solid var(--purple);
  }

  .accordion.round details summary {
    color: var(--purple);
  }

  .cards.circle-image .card picture {
    background-color: var(--purple);
  }
}

[data-theme="purple"]:not([data-background]) {
  background-color: var(--purple);
  color: var(--white);

  a {
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6, a:any-link {
    color: var(--white);
  }
}

[data-theme="gray"]:not([data-background]) {
  & .section.inner, & .section{
    padding: 40px;
    background-color: var(--gray);
  }
}

[data-theme="orange-red"]:not([data-background]) {
  & .section.inner, & .section{
    padding: 40px;
    background-color: var(--orange-red);
  }

  background-color: var(--orange-red);


  h3 {
    color: var(--white);
  }
}

body.laz-blue {
  .breadcrumbs-outer {
    background-color: var(--laz-blue);
  }

  h3, a {
    color: var(--laz-logo-blue);
  }

  h2 {
    color: var(--laz-logo-blue);
  }

  .table table th {
    background-color: var(--laz-blue);
    }

  .accordion.round .accordion-item-label {
    border: 2px solid var(--laz-blue);
  }

  .accordion.round details summary {
    color: var(--laz-blue);
  }

    .cards.circle-image .card picture {
      background-color: var(--laz-blue);
    }
}


[data-theme="laz-blue"]:not([data-background]) {
  background-color: var(--laz-blue);
  color: var(--white);

  h4 {
    color: inherit;
    font-weight: var(--font-weight-medium);
    font-size: var(--body-font-size-m);
    }

  a:not(.button)  {
    text-decoration: underline;
  }

    h1, h2, h3, h4, h5, h6, a:any-link  {
      color: var(--white);
    }
  }

body.red {
  .breadcrumbs-outer {
    background-color: var(--red);
  }

  .related-posts :is(h3, a, a:hover) {
    color: var(--red);
  }

  h3, .card h3 {
    color: var(--red);
  }

  a {
    color: var(--red);
  }

  .table table th {
    background-color: var(--red);
    }

  .accordion.round .accordion-item-label {
    border: 2px solid var(--red);
  }

  .accordion.round details summary {
    color: var(--red);
  }

    .cards.circle-image .card picture {
      background-color: var(--red);
    }
}

[data-theme="red"]:not([data-background]) {
  .button.primary {
    background-color: var(--red);
    border-color: var(--red);
    color: var(--white);

    &:hover {
      color: var(--red);
      border-color: var(--red);
    }
  }
}

body.yellow {
  .breadcrumbs-outer {
    background-color: var(--yellow);
  }

  .table table th {
    background-color: var(--yellow);
    }

    .cards.circle-image .card picture {
      background-color: var(--yellow);
    }

  .accordion.round .accordion-item-label {
    border: 2px solid var(--yellow);
  }

  .accordion.round details summary {
    color: var(--yellow);
  }

  h3, a {
    color: var(--yellow);
  }

  /* secondary button colors */
  .button.secondary {
    color: var(--yellow) !important;
    border-color: var(--yellow) !important;

    &:hover {
      color: black;
      border-color: black;
    }
  }
}

[data-theme="yellow"]:not([data-background]) {
  background-color: var(--yellow);

  .breadcrumbs-outer {
    background-color: var(--yellow);
  }

  a:any-link {
    color: var(--text-color);
    text-decoration: underline;
  }
}

body.berry {
  & h1, h3, a {
    color: var(--product-berry);
  }

  .breadcrumbs-outer {
    background-color: var(--product-berry);
  }

  .table table th {
    background-color: var(--product-berry);
  }
}

[data-theme="pink"] {
    background-color: var(--light-pink);
    }

[data-theme="berry"]:not([data-background]) {
  background-color: var(--product-berry);
    color: var(--white);

  .button.primary.bgcolor-theme {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--product-berry);

    &:hover {
      color: var(--white);
      background-color: var(--product-berry);
    }
  }

  .button.secondary.textcolor-theme {
    color: var(--white);
    border-color: var(--white);

    &:hover {
      background-color: var(--white);
      color: var(--product-berry);
    }
  }

    a:not(.button) {
      text-decoration: underline;
    }

    h1, h2, h3, h4, h5, h6, a:any-link {
      color: var(--white);
    }
}

body.orange-red {
  .breadcrumbs-outer {
    background-color: var(--orange-red);
  }

  .button.primary {
    background-color: var(--white);
    border-color: var(--orange-red);
    color: var(--orange-red);
  }

  .button.secondary {
    background-color: var(--white);
    border-color: var(--orange-red);
    color: var(--orange-red);
  }

  a {
    color: var(--orange-red);
  }

  h2 {
    color: var(--orange-red);
  }

  .table table th {
    background-color: var(--orange-red);
    }

  .accordion.round .accordion-item-label {
    border: 2px solid var(--orange-red);
  }

  .accordion.round details summary {
    color: var(--orange-red);
  }

    .cards.circle-image .card picture {
      background-color: var(--orange-red);
    }
}

  /* end themes */

  main img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .icon {
    display: inline-block;
    height: 24px;
    width: 24px;
  }

  .icon img {
    height: 100%;
    width: 100%;
  }

  /* sections */
  main > .section-outer {
    margin: auto;
    background-size: cover;
    width: 100%;
  }

  main > .section-outer > .section {
    margin: 0 auto;
    padding: 48px 15px;
    max-width: 750px;
    background-size: cover;
    width: 100%;
  }

  main > .section:first-of-type {
    margin-top: 0;
  }

  @media (width >= 768px) {
    main > .section-outer > .section {
      margin: 0 auto;
    }

    h1 {
      font-size: var(--heading-font-size-xxl);
    }
  }

  @media (width >= 1024px) {
    main > .section-outer > .section, .breadcrumbs-container, .hero-content {
      max-width: 990px;
    }

    .breadcrumbs-outer {
      .breadcrumbs-container {
    /*    padding: 0; */
      }
  }
    }

  @media (width >= 1200px) {
    main > .section-outer > .section, .breadcrumbs-container, .hero-content {
      max-width: 1170px;
    }
  }

@media (width >= 1660px) {
  .breadcrumbs-container {
    max-width: 1527px;
  }
}

  /* section metadata */
  main .section.light,
  main .section.highlight {
    background-color: var(--very-light-gray);
    margin: 0;
    padding: 40px 0;
  }