.card-wrapper {
    margin-bottom: 1em;
}

.card {
    overflow: hidden;
    height: auto;
    position: relative;
}

.card a {
    text-decoration: none;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.card img {
    transition: all .65s ease;
}

.card:hover img {
    transform: scale(1.05);
    transform-style: preserve-3d;
}

.card h3 {
    font-size: var(--body-font-size-m);
    font-family: var(--body-font-family);
    font-weight: var(--font-weight-medium);
    margin-top: .75em;
    line-height: 1.35;

    &:hover {
        text-decoration: underline;
    }
}

.card .card-body p {
    font-weight: var(--font-weight-normal);
    color: var(--charcoal-blue);
}


.card .efficacy-badge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: white;
    top: 10px;
    right: 0;
    z-index: 100;
    padding: 8px 30px 8px 12px;
    border-radius: 6px 0 0 6px;
    white-space: nowrap;
    left: calc(100% - 120px);
    transition: left .65s ease;
    width: fit-content;
}

.card:hover .efficacy-badge {
    left: calc(100% - 36px);
}


.card .efficacy-badge.strong {
    background-color: var(--red);
}

.card .efficacy-badge.moderate {
    background-color: var(--orange-red);
}

.card .efficacy-badge.effective {
    background-color: var(--bright-yellow);
}

.card .efficacy-badge .flag {
    width: 16px;
    height: 16px;
    display: inline-block;
    content: url("/icons/flag.svg");
}

.card .efficacy-badge:not(.strong) .flag {
    filter: invert(1);
}

.card .efficacy-badge .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

.card .efficacy-badge p {
    margin: 0;
    padding: 0;
    margin-left: 8px;
    font-weight: 400;
}

.card .efficacy-badge:not(.strong) p {
    filter: invert(1);
}
