.card-wrapper {
    margin-bottom: 1em;
}

.card h3 {
    font-size: var(--body-font-size-m);
    font-family: var(--body-font-family);
    font-weight: var(--font-weight-medium);
    margin-top: .75em;
    line-height: 1.35;

    &:hover {
        text-decoration: underline;
    }
}

.card a {
    text-decoration: none;
}

.card .card-body p {
    font-weight: var(--font-weight-normal);
    color: var(--charcoal-blue);
}