.related-posts {
    margin-bottom: 48px;

    .posts-list {
        padding-top: 15px;
        margin-bottom: 10px;
        border-bottom: 1px solid #cbcbcb;

        &:last-child {
            border-bottom: none;
        }

        h3 {
            font-size: var(--body-font-size-m);
            font-weight: bold;
            line-height: 1.45;
            margin-bottom: 1em;
            font-family: var(--body-font-family);
        }
    }
}
