.common-core .page {
  .section.h1 {
    padding: 0 0 0 15px;
  }

  .wrapper {
    display: flex;

    @media(max-width:760px) {
      display: block;
    }

    aside {
      min-width: 270px;
      margin: 0 50px 50px 0;

      @media(max-width:1024px) {
        min-width: 200px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          border-bottom: 1px solid #aaa;
          &:first-child { border-top: 1px solid #aaa }

          a {
            text-decoration: none;
            color: #333;
            display: block;
            padding: 13px 18px;
            font-size: 18px;
            line-height: 30px;
            &:hover, &.active { background: #fffaed }
            &.active { font-weight: bold }
          }
        }
      }
    }

    section {
      flex-grow: 1;
    }
  }
}


